<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>

    <%- messages() %>



    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form id="updateForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/inv/delete" method="post">
            <span class="login100-form-title">
              Delete Inventory (Confirm Deletion - The delete is permanent.)
            </span>
  
            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter the Inventory make">
              <input class="input100" type="text" name="inv_make" placeholder="Inventory make" required value="<%= locals.inv_make %>" readonly>
              <span class="focus-input100"></span>
            </div>
           <!-- <span>the new classification name cannot contain a space or special character of any kind</span> -->
  
            

           <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter the Inventory model">
            <input class="input100" type="text" name="inv_model" placeholder="Inventory model" required  value="<%= locals.inv_model %>" readonly> 
            <span class="focus-input100"></span>
          </div>


          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter the Inventory year">
            <input class="input100" type="text" name="inv_year" placeholder="Inventory year" required  value="<%= locals.inv_year %>" readonly>
            <span class="focus-input100"></span>
          </div>



          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter the Inventory price">
            <input class="input100" type="number" name="inv_price" placeholder="Inventory price" required  value="<%= locals.inv_price %>" readonly>
            <span class="focus-input100"></span>
          </div>




          <input type="hidden" name="inv_id"
          <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
          <% } %>>


     <br />
  
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit" > 
              Delete Vehicle
              </button>

<!--
              <input class="input100" type="submit"  value="Register">  -->

            </div>
            <br />
  <!--
            <div class="flex-col-c p-t-170 p-b-40">
              <span class="txt1 p-b-9">
                Don’t have an account?
              </span>
  
              <a href="#" class="txt3">
                Sign up now
              </a>
            </div> -->
          </form>
        </div>
      </div>
    </div>
    

 